*{
    padding: 0;
    margin: 0;
}



  .prog1 h1{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: lighter;
    padding-top: 10%;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
}

.prog1 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: lighter;
    line-height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.prog2 h1{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: lighter;
    padding-top: 5%;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
    
}

.prog2 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: lighter;
    line-height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.prog3 h1{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: lighter;
    padding-top: 5%;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;

}

.prog3 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: lighter;
    line-height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.prog4 h1{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: lighter;
    padding-top: 5%;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
    
}

.prog4 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: lighter;
    line-height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.prog5 h1{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: lighter;
    padding-top: 5%;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
    
}

.prog5 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: lighter;
    line-height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.prog6 h1{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: lighter;
    padding-top: 5%;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
    
}

.prog6 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: lighter;
    line-height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.prog7 h1{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: lighter;
    padding-top: 5%;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
    
}

.prog7 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: lighter;
    line-height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.prog8 h1{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: lighter;
    padding-top: 5%;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
    
}

.prog8 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: lighter;
    line-height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.prog9 h1{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: lighter;
    padding-top: 5%;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
    
}

.prog9 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: lighter;
    line-height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.prog10 h1{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: lighter;
    padding-top: 5%;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
    
}

.prog10 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: lighter;
    line-height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}